<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Términos y Condiciones</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <style>
    body {
      font-family: Arial, sans-serif;
      line-height: 1.6;
    }

    .section {
      padding-top: 40px;
      padding-bottom: 40px;
    }

    .title {
      font-size: 2.5rem;
    }

    .subtitle {
      margin-top: 30px;
      font-size: 1.8rem;
    }

    .contact-info {
      margin-top: 20px;
    }

    .contact-info li {
      list-style: none;
      margin-bottom: 10px;
    }

    .contact-info li:first-child {
      font-weight: bold;
    }
  </style>
</head>
<body>
  <section class="section">
    <div class="container">
      <h1 class="title">Términos y Condiciones</h1>
      <p>¡Bienvenido a nuestra página de términos y condiciones!</p>
      <p>Por favor, lee detenidamente los siguientes términos y condiciones antes de utilizar nuestros servicios.</p>
      
      <h2 class="subtitle">1. Uso del Servicio</h2>
      <p>Al utilizar nuestro servicio, aceptas cumplir con estos términos. Nuestro servicio está destinado únicamente para uso personal y no comercial.</p>
      
      <h2 class="subtitle">2. Privacidad</h2>
      <p>Respetamos tu privacidad y nos comprometemos a proteger tu información personal. Consulta nuestra política de privacidad para obtener más detalles.</p>
      
      <h2 class="subtitle">3. Propiedad Intelectual</h2>
      <p>Los contenidos de este sitio web, incluidos textos, gráficos, logotipos, imágenes, videos y software, son propiedad de [Nombre de la Empresa] y están protegidos por las leyes de derechos de autor.</p>
      
      <!-- Agrega más secciones según sea necesario -->
      
      <h2 class="subtitle">Contacto con un Profesional Legal</h2>
      <p>Si tienes alguna pregunta legal sobre nuestros términos y condiciones, te recomendamos encarecidamente que busques asesoramiento legal profesional. Nuestro equipo no está autorizado para proporcionar asesoramiento legal.</p>
      <p>Puedes ponerte en contacto con un profesional legal en:</p>
      <ul class="contact-info">
        <li>Nombre: BRAYAN MORENO</li>
        <li>Teléfono: +573165125962</li>
        <li>Correo Electrónico: mosoto231242@outlook.com</li>
      </ul>
      <p>Recuerda que los términos y condiciones son importantes para proteger tus derechos y los nuestros como proveedores de servicios.</p>

    </div>
  </section>
</body>
</html>
